<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Košarica</title>
</head>
<body>
    <h1>Košarica</h1>
    <ul>
    % for item in kosarica:
        <li>{{item['tip']}} - {{item['znamka']}} - {{item['velikost']}} - {{item['barva']}} - {{item['cena']}} EUR (Popust: {{item['popust']}} EUR)</li>
        <form action="/odstrani_iz_kosarice" method="post">
            <input type="hidden" name="product_id" value="{{item['id']}}">
            <button type="submit">Odstrani</button>
        </form>
    % end
    </ul>
    <form action="/potrdi_nakup" method="post">
        <button type="submit">Potrdi nakup</button>
    </form>
    <a href="/">Domov</a>
</body>
</html>
